/* ------------------------------------------GÉNÉRIQUE------------------------------------------ */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ------------------------------------------ÉLÉMENTS------------------------------------------ */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    /* éviter de mettre ici généralement */
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    /* 400 regular, 700 bold */

    letter-spacing: 7.2px;

    margin: 0;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: bold;


    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: normal;

    margin: 10px 0px;
    /* premier pour haut-bas, deuxième pour gauche-droite */
}

/* ------------------------------------------COMPONENTS------------------------------------------ */

.wrapper {
    max-width: 1080px;

    margin: 0 auto;
}

.header {
    background-color: #f26c25;
    color: white;

    padding: 10px 0px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 10px;
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 10px;
}

/* nav */

.menu {
    display: flex;
    gap: 40px;

    list-style-type: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* hero */
.hero {
    background-color: #eee;

    padding: 80px;
}

/* titre transports */

.titre-section {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    margin-bottom: 60px;
}

.transports{
    padding: 80px 0px;
}

.conteneur-transport{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}